.article__p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.list>li:before {
    content: "•";
}

.list>li.list__item {
    margin-top: 0.1em;
}

.list>li.list__item:before {
    top: 0.5em;
}

.list._decimal>li:before {
    top: 0.5em;
    font-size: 1.2em;
    line-height: 1em;
}

.wt-icon_size_m, .wt-icon_size_s {
    width: 1.5em;
    height: 2.1em;
}

.definition-list__title {
    font-size: 1.6em;
}

p .code {
    font-size: 0.9em;
}

.code-block__wrapper {
    max-width: 100%;
}